<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Patrick Seet</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="../static/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Custom styles -->
	<link rel="stylesheet" href="../static/css/magister.css">

	<!-- Fonts -->
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#head" class="active">Hello</a></li>
				<li><a href="#about">About me</a></li>
				<li><a href="#themes">Projects</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">Patrick Seet</h1>
{#				<h2 class="subtitle">Patrick Seet</h2>#}

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Glad you're here visiting
				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
	            <p>I'm a Fullstack Engineer and this is my portfolio site</p>
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
    <div class="container">

        <h2 class="text-center title">About me</h2>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <h5><strong>Experience<br></strong></h5>
                <p>I've spent a few years as an <a id="wlink" href="https://www.hidglobal.com/identity-management/" target="_blank">Quality Assurance Engineer</a> testing digital certificate issuance system for the Department of Defense. Then I've moved on to medical devices, a <a id="wlink" href="http://www.sjm.com/corporate.aspx" target="_blank">Project Lead</a> for the firmware interface team. I've got my hands on quite a few pacemakers, defibrillators and neurological devices. Always fascinated by Cloud technologies and the fast paces startup world, I joined a young startup as a <a id="wlink" href="http://www.bloomsky.com/" target="_blank">Software Engineer</a> to design and implement REST API for mobile apps. My current adventure is <a id="wlink" href="https://www.zuora.com/" target="_blank">Senior Support Engineer</a> at an amazing company. Never stop learning!</p>
            </div>
            <div class="col-sm-4">
                <img src="../static/images/warhol.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Third (Works) section -->
<section class="section" id="themes">
	<div class="container">
	
		<h2 class="text-center title">Projects</h2>

		<div class="row">
			<div class="col-sm-5 col-sm-offset-2">
				<div class="thumbnail">
					<img src="../static/screenshots/rsz_1hometracker.jpg" alt="">
					<div class="caption">
						<h3>Hometracker</h3>
						<p>A simple responsive app to help my brother keeps track of offers made on properties. Django, Python, Javascript, PostgreSQL, AJAX, Leaflet, Amazon S3, CSS and bootstrap. More features to come as I experiment with different libraries. </p>
						<p><a href="https://mighty-scrubland-4944.herokuapp.com/" class="btn btn-default" role="button">Go</a></p>
					</div>
				</div>
			</div>
            <div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="thumbnail">
					<img src="../static/screenshots/rsz_battlefit.jpg" alt="">
					<div class="caption">
						<h3>BattleFit</h3>
						<p>An app that lets friends compare fitness data from various brands of fitness wearables. Winner of Hero City Hackathon best Health and Fitness category in 11/2014. I was responsible for API calls and backend design. Django, Python, Javascript, Bootstrap, and PostgreSQL.</p>
						<p><!-- <a href="http://battlefit.us/" class="btn btn-default" role="button">Go</a></p> -->
					</div>
				</div>
			</div>
            		<div class="row">

			<div class="col-sm-4 col-sm-offset-2">
{#				<div class="thumbnail">#}
{#					<img src="../static/screenshots/sshot5.jpg" alt="">#}
{#					<div class="caption">#}
{#						<h3>Thumbnail label</h3>#}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>#}
{#						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
{#					</div>#}
{#				</div>#}
			</div>
			<div class="col-sm-4">
{#				<div class="thumbnail">#}
{#					<img src="../static/screenshots/sshot3.jpg" alt="">#}
{#					<div class="caption">#}
{#						<h3>Thumbnail label</h3>#}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque doloribus enim vitae nam cupiditate eius at explicabo eaque facere iste.</p>#}
{#						<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
{#					</div>#}
{#				</div>#}
			</div>
            </div>
		</div>

	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">
	
		<h2 class="text-center title">Get in touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p><b><a href="mailto:someone@example.com?Subject=Hello" target="_top">teeskcirtap@gmail.com</a></b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="https://github.com/PatrickSeet" class="btn btn-link" target="_blank"><i class="fa fa-github fa-fw"></i> Github</a></li>
					<li><a href="https://www.linkedin.com/in/pseet" class="btn btn-link" target="_blank"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>


<!-- Load js libs only when the page is loaded. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="../static/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="../static/js/magister.js"></script>
</body>
</html>